{% extends 'base.html.twig' %}

{% block title %}{% trans %}Category index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Category index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Shortname{% endtrans %}</th>
                <th>{% trans %}Longname{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.shortname }}</td>
                <td>{{ category.longname }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
