{# templates/lucky/number.html.twig #}
<h1>Your lucky number is {{ number }}</h1>
<h2>Your lucky number is {{ number }}</h2>
<h3>Your lucky number is {{ number }}</h3>
<h4>Your lucky number is {{ number }}</h4>
<h5>Your lucky number is {{ number }}</h5>
<h6>Your lucky number is {{ number }}</h6>